rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin(condominiumId) {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid)) 
      && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.condominiumId == condominiumId;
    }

    match /condominiums/{condominiumId} {
      allow get: if request.auth != null;
      allow list: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
      allow delete: if request.auth != null && isAdmin(condominiumId);

      match /units/{unitId} {
        allow get: if request.auth != null;
        allow list: if request.auth != null;
        allow create: if request.auth != null;
        allow update: if request.auth != null;
        allow delete: if request.auth != null && isAdmin(condominiumId);
      }

      match /financial_transactions/{transactionId} {
        allow get: if request.auth != null;
        allow list: if request.auth != null;
        allow create: if request.auth != null && isAdmin(condominiumId);
        allow update: if request.auth != null && isAdmin(condominiumId);
        allow delete: if request.auth != null && isAdmin(condominiumId);
      }

      match /accounts_receivable/{accountReceivableId} {
        allow get: if request.auth != null;
        allow list: if request.auth != null;
        allow create: if request.auth != null && isAdmin(condominiumId);
        allow update: if request.auth != null && isAdmin(condominiumId);
        allow delete: if request.auth != null && isAdmin(condominiumId);
      }

      match /accounts_payable/{accountPayableId} {
        allow get: if request.auth != null;
        allow list: if request.auth != null;
        allow create: if request.auth != null && isAdmin(condominiumId);
        allow update: if request.auth != null && isAdmin(condominiumId);
        allow delete: if request.auth != null && isAdmin(condominiumId);
      }

      match /suppliers/{supplierId} {
        allow get: if request.auth != null;
        allow list: if request.auth != null;
        allow create: if request.auth != null && isAdmin(condominiumId);
        allow update: if request.auth != null && isAdmin(condominiumId);
        allow delete: if request.auth != null && isAdmin(condominiumId);
      }

      match /employees/{employeeId} {
        allow get: if request.auth != null;
        allow list: if request.auth != null;
        allow create: if request.auth != null && isAdmin(condominiumId);
        allow update: if request.auth != null && isAdmin(condominiumId);
        allow delete: if request.auth != null && isAdmin(condominiumId);
      }

      match /communications/{communicationId} {
        allow get: if request.auth != null;
        allow list: if request.auth != null;
        allow create: if request.auth != null && isAdmin(condominiumId);
        allow update: if request.auth != null && isAdmin(condominiumId);
        allow delete: if request.auth != null && isAdmin(condominiumId);
      }

      match /incidents/{incidentId} {
        allow get: if request.auth != null;
        allow list: if request.auth != null;
        allow create: if request.auth != null;
        allow update: if request.auth != null && isAdmin(condominiumId);
        allow delete: if request.auth != null && isAdmin(condominiumId);
      }
    }

    match /admins/{adminId} {
        allow get: if request.auth.uid == adminId;
        allow create: if request.auth.uid == adminId;
        allow update: if request.auth.uid == adminId;
        allow delete: if request.auth.uid == adminId;
    }
  }
}